* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

body {
  background-image:#919191;
}

h2 {
  color: tomato;
  font-size: 2em;
}
  
.wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(172, 140, 140, 0.1);
}
.login {
  width: 30%;
  height: 700px;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}


.joinForm h2 {
  text-align: center;
  margin: 30px;
}

.textForm {
  border-radius: 30px;
  border: 1px solid lightgray;
  width: 350px;
  margin: 10px;
  padding: 10px 10px;
}


.id {
  width: 30%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
}

.pw {
  width: 30%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
}

.name {
  width: 100%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
}

.email {
  width: 100%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
}

.cellphoneNo {
  width: 100%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
}
.submit {
  margin-left: 50px;
  margin-top: 50px;
  width: 80%;
  color: rgb(255, 255, 255);
}
.submit input {
  width: 100%;
  height: 50px;
  border: 0;
  outline: none;
  border-radius: 40px;
  background: linear-gradient(to left, rgb(255, 77, 46), rgb(255, 155, 47));
  font-size: 1.2em;
  letter-spacing: 2px;
}

.btn:hover {
  background-position: right;
}